@font-face {
    font-family: 'Fontdiner Swanky';
    src: url('../fonts/FontdinerSwanky-Regular.woff2') format('woff2'),
        url('../fonts/FontdinerSwanky-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

